p{
    margin-bottom:0;
}
div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
.head:hover{  
    background: orange;
}
@media only screen and (max-width: 300px) {
    div {
      display:none;
    }
  }